<!doctype html>
<html lang='en'>

    <head>
        <!--- Required meta tags --->
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <!-- Simple.css --->
        <link rel='stylesheet' href='https://cdn.simplecss.org/simple.min.css'>
        <title>Sales Record</title>
    </head>

    <body>
        <div>
            <h1 onclick='location.href="{% url 'sold-list' %}"'>Sales Record</h1>
        </div>

        <div>
            {% block content %}
            This content will be replaced by different html code for each page.
            {% endblock %}
        </div>

        <hr>
        <!--<a href="{% url 'admin:logout' %}"> logout </a> --> 
    </body>
</html>

