{% extends 'sales/product_base.html' %}

{% block content %}
<form method='Post'>
    {% csrf_token %}
    <p>
        Are you sure you want to delete 
         <table>
        <tr>
            <th> S/N </th>
            <th> Product </th>
            <th> Quantity </th>
            <th> Expiry Date </th>
        </tr>
        <tr>
            <td>{{object.pk}}</td>
            <td>{{object.product_name}}</td>
            <td>{{object.quantity}}</td>
            <td>{{object.expiry_date}}</td>
        </tr>
    </table>
    </p>
    <input type='submit' value='confirm'>
</form>

<a href="{% url 'products-list' %}">
    <button>Cancel</button>
</a>

{% endblock %}
