{% extends 'sales/base.html' %}
{% block content %}

    <table>
        <tr>
            <th> S/N </th>
            <th> Product </th>
            <th> Quantity </th>
            <th> Price </th>
            <th> Total </th>
            <th> Note </th>
        </tr>
        <tr>
            <td>{{object.pk}}</td>
            <td>{{object.product_name}}</td>
            <td>{{object.quantity_sold}}</td>
            <td>{{object.unit_price}}</td>
            <td>{{object.total}}</td>
            <td>{{object.note}}</td>
        </tr>
    </table>

    {# for sale in object_list #}
    <a href="{% url 'sold-update' object.id %}">
        <button>Update</button>
    </a>
    <a href="{% url 'sold-delete' object.id %}">
        <button>Delete</button>
    </a>
    {# endfor #}
    
{% endblock %}
